body {
    background-color: white;
    width: auto;
    height: auto;
    margin: 8px;
    padding: 0%;
    display: block;
}

h1 {
    color: blue;
}
h3 {
    color: brown;
}

p {
    color: gray;
}
li {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr {
    border-width: 10px;
    width: 5%;
    border-width: 5px;
    height: 0px;
    border-style: dotted none none;
    border-color: grey;
}

